openapi: 3.0.0
info:
  version:
    $ref: '../../package.json#/version'
  title: SpaceCat API
  description: |
    The SpaceCat API is used to manage edge delivery site directory and obtain audit information.
    
    ## Authentication
    <SecurityDefinitions />

  termsOfService: 'https://www.adobe.com/go/experiencecloudterms'
  contact:
    name: Spacecat Team
    url: 'https://github.com/adobe/spacecat-api-service'
  x-logo:
    url: 'https://solaris007.github.io/spacecat-ui/spacecat_logo_192.webp'
    altText: SpaceCat logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: 'https://spacecat.experiencecloud.live/api/ci'
    description: Development server
  - url: 'https://spacecat.experiencecloud.live/api/v1'
    description: Production server

tags:
  - name: site
    description: Site operations
  - name: audit
    description: Audit operations
  - name: organization
    description: Organization operations
  - name: trigger
    description: Trigger operations
  - name: hooks
    description: Webhooks for receiving events

paths:
  /audits/latest/{auditType}:
    $ref: './audits-api.yaml#/latest-audits'
  /configurations:
    $ref: './configurations-api.yaml#/configurations'
  /configurations/latest:
    $ref: './configuration-api.yaml#/latest-configuration'
  /configurations/{version}:
    $ref: './configuration-api.yaml#/configuration'
  /event/fulfillment:
    $ref: './event-api.yaml#/process-fulfillment-events'
  /hooks/site-detection/cdn/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-cdn'
  /hooks/site-detection/rum/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-rum'
  /organizations:
    $ref: './organizations-api.yaml#/organizations'
  /organizations/{organizationId}:
    $ref: './organization-api.yaml#/organization'
  /organizations/{organizationId}/sites:
    $ref: './sites-api.yaml#/sites-for-organization'
  /organizations/by-ims-org-id/{imsOrgId}:
    $ref: './organization-api.yaml#/organization-by-ims-org-id'
  /organizations/by-ims-org-id/{imsOrgId}/slack-config:
    $ref: './organization-api.yaml#/organization-slack-config-by-ims-org-id'
  /sites:
    $ref: './sites-api.yaml#/sites'
  /sites/by-delivery-type/{deliveryType}:
    $ref: './sites-api.yaml#/sites-by-delivery-type'
  /sites/by-base-url/{base64BaseUrl}:
    $ref: './site-api.yaml#/site-by-base-url'
  /sites/with-latest-audit/{auditType}:
    $ref: './sites-api.yaml#/sites-with-latest-audit'
  /sites/{siteId}:
    $ref: './site-api.yaml#/site'
  /sites/{siteId}/audits:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/audits/{auditType}:
    $ref: './audits-api.yaml#/audits-for-site-and-type'
  /sites/{siteId}/audits/{auditType}/{auditedAt}:
    $ref: './audit-api.yaml#/audit-for-site'
  /sites/{siteId}/audits/latest/{auditType}:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/latest-audit/{auditType}:
    $ref: './audit-api.yaml#/latest-audit-for-site'
  /trigger:
    $ref: './trigger-api.yaml#/trigger'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
    admin_key:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    $ref: './schemas.yaml'
