openapi: 3.0.0
info:
  version:
    $ref: "../../package.json#/version"
  title: SpaceCat API
  description: The SpaceCat API is used to manage edge delivery site directory and obtain audit information.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: 'https://spacecat.hlx.page'

tags:
  - name: sites
    description: Site operations
  - name: audits
    description: Audit operations

paths:
  /audits/latest/{auditType}:
    $ref: "./audits-api.yaml#/audits"
  /sites:
    $ref: "./sites-api.yaml#/sites"
  /sites/by-base-url/{base64BaseUrl}:
    $ref: "./site-api.yaml#/site-by-base-url"
  /sites/{siteId}:
    $ref: "./site-api.yaml#/site"
  /sites/{siteId}/audits:
    $ref: "./audits-api.yaml#/audits-for-site"
  /sites/{siteId}/run-audit/{auditType}:
    $ref: "./site-api.yaml#/run-audit"
  /sites/{siteId}/audits/{auditType}:
    $ref: "./audits-api.yaml#/audits-for-site-and-type"
  /sites/{siteId}/audits/latest/{auditType}:
    $ref: "./audits-api.yaml#/audits-for-site"
  /sites/{siteId}/latest-audit/{auditType}:
    $ref: "./audit-api.yaml#/audit-for-site"
  /sites.xlsx:
    $ref: "./sites-api.yaml#/export-xls"
  /sites.csv:
    $ref: "./sites-api.yaml#/export-csv"
  /trigger:
    $ref: "./trigger-api.yaml#/trigger"

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
    admin_key:
      type: apiKey
      in: header
      name: X-Admin-Key
  schemas:
    $ref: "./schemas.yaml"
