openapi: 3.1.0
info:
  version:
    $ref: '../../package.json#/version'
  title: SpaceCat API
  description: |
    The SpaceCat API is used to manage edge delivery site directory and obtain audit information.
    
    ## Authentication
    <SecurityDefinitions />

  termsOfService: 'https://www.adobe.com/go/experiencecloudterms'
  contact:
    name: Spacecat Team
    url: 'https://github.com/adobe/spacecat-api-service'
  x-logo:
    url: 'https://solaris007.github.io/spacecat-ui/spacecat_logo_192.webp'
    altText: SpaceCat logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: 'https://spacecat.experiencecloud.live/api/ci'
    description: Development server
  - url: 'https://spacecat.experiencecloud.live/api/v1'
    description: Production server

tags:
  - name: site
    description: Site operations
  - name: audit
    description: Audit operations
  - name: auth
    description: Init authentication against 3rd party services
  - name: organization
    description: Organization operations
  - name: trigger
    description: Trigger operations
  - name: hooks
    description: Webhooks for receiving events
  - name: slack
    description: Slack channel management
  - name: api-keys
    description: API key management
  - name: import
    description: APIs for importing content to Edge Delivery Services
  - name: scrape
    description: APIs for scraping web pages

paths:
  /audits/latest/{auditType}:
    $ref: './audits-api.yaml#/latest-audits'
  /auth/google/{siteId}:
    $ref: './auth-api.yaml#/google-auth'
  /auth/google/{siteId}/status:
    $ref: './auth-api.yaml#/google-auth-status'
  /configurations:
    $ref: './configurations-api.yaml#/configurations'
  /configurations/latest:
    $ref: './configuration-api.yaml#/latest-configuration'
  /configurations/{version}:
    $ref: './configuration-api.yaml#/configuration'
  /configurations/sites/audits:
    $ref: './configurations-sites-audits-api.yaml#/configurations-sites-audits-toggle'
  /event/fulfillment:
    $ref: './event-api.yaml#/process-fulfillment-events'
  /hooks/site-detection/cdn/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-cdn'
  /hooks/site-detection/rum/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-rum'
  /hooks/site-integration/analytics/{hookSecret}:
    $ref: './hooks-api.yaml#/site-integration-analytics'
  /organizations:
    $ref: './organizations-api.yaml#/organizations'
  /organizations/{organizationId}:
    $ref: './organization-api.yaml#/organization'
  /organizations/{organizationId}/brands:
    $ref: './brands-api.yaml#/brands-for-organization'
  /organizations/{organizationId}/sites:
    $ref: './sites-api.yaml#/sites-for-organization'
  /organizations/by-ims-org-id/{imsOrgId}:
    $ref: './organization-api.yaml#/organization-by-ims-org-id'
  /organizations/by-ims-org-id/{imsOrgId}/slack-config:
    $ref: './organization-api.yaml#/organization-slack-config-by-ims-org-id'
  /preflight/jobs:
    $ref: './preflight-api.yaml#/preflight-jobs'
  /preflight/jobs/{jobId}:
    $ref: './preflight-api.yaml#/preflight-job-status'
  /scrape:
    $ref: './scrape-api.yaml#/scrape'
  /sites:
    $ref: './sites-api.yaml#/sites'
  /sites/by-delivery-type/{deliveryType}:
    $ref: './sites-api.yaml#/sites-by-delivery-type'
  /sites/by-base-url/{base64BaseUrl}:
    $ref: './site-api.yaml#/site-by-base-url'
  /sites/with-latest-audit/{auditType}:
    $ref: './sites-api.yaml#/sites-with-latest-audit'
  /sites/{siteId}/latest-metrics:
    $ref: './site-metrics-api.yaml#/site-metrics-latest'
  /sites/{siteId}:
    $ref: './site-api.yaml#/site'
  /sites/{siteId}/audits:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/audits/{auditType}:
    $ref: './audits-api.yaml#/audits-for-site-and-type'
  /sites/{siteId}/audits/{auditType}/{auditedAt}:
    $ref: './audit-api.yaml#/audit-for-site'
  /sites/{siteId}/audits/latest:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/latest-audit/{auditType}:
    $ref: './audit-api.yaml#/latest-audit-for-site'
  /sites/{siteId}/{auditType}:
    $ref: './audit-api.yaml#/update-handler-type-config-for-site'
  /sites/{siteId}/brand-guidelines:
    $ref: './brands-api.yaml#/brand-guidelines-by-site-id'
  /sites/{siteId}/opportunities:
    $ref: './site-opportunities.yaml#/site-opportunities'
  /sites/{siteId}/opportunities/by-status/{status}:
    $ref: './site-opportunities.yaml#/site-opportunities-by-status'
  /sites/{siteId}/opportunities/{opportunityId}:
    $ref: './site-opportunities.yaml#/site-opportunity'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/by-status/{status}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-by-status'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/{suggestionId}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestion'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/status:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-status'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/auto-fix:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-auto-fix'
  /sites/{siteId}/key-events:
    $ref: './key-events-api.yaml#/key-events'
  /sites/{siteId}/key-events/{keyEventId}:
    $ref: './key-event-api.yaml#/key-event'
  /sites/{siteId}/top-pages:
    $ref: './site-top-pages-api.yaml#/site-top-pages'
  /sites/{siteId}/top-pages/{source}:
    $ref: './site-top-pages-api.yaml#/site-top-pages-by-source'
  /sites/{siteId}/top-pages/{source}/{geo}:
    $ref: './site-top-pages-api.yaml#/site-top-pages-by-source-and-geo'
  /sites/{siteId}/metrics/{metric}/{source}:
    $ref: './site-metrics-api.yaml#/site-metrics-by-source'
  /sites/{siteId}/metrics/{metric}/{source}/by-url/{base64PageUrl}:
    $ref: './site-metrics-api.yaml#/page-metrics-by-source'
  /sites/{siteId}/experiments:
    $ref: './experiments-api.yaml#/experiments'
  /slack/channels/invite-by-user-id:
    $ref: './slack-api.yaml#/invite-by-user-id'
  /trigger:
    $ref: './trigger-api.yaml#/trigger'
  /tools/api-keys:
    $ref: './tools-api.yaml#/api-keys'
  /tools/api-keys/{apiKeyId}:
    $ref: './tools-api.yaml#/api-key-deletion'
  /tools/import/jobs:
    $ref: './tools-api.yaml#/import'
  /tools/import/jobs/{jobId}:
    $ref: './tools-api.yaml#/import-job-status'
  /tools/import/jobs/{jobId}/progress:
    $ref: './tools-api.yaml#/import-job-progress'
  /tools/import/jobs/{jobId}/result:
    $ref: './tools-api.yaml#/import-job-result'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: "DEPRECATED, use scoped_api_key or ims_key. (Used for read-only operations.)"
    scoped_api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: "For endpoints which authenticate with scoped API keys"
    ims_key:
      type: apiKey
      in: header
      name: authorization
      description: "Value must be a valid IMS user token which will be offline-validated."
    admin_key:
      type: apiKey
      in: header
      name: x-api-key
      description: "DEPRECATED, use scoped_api_key or ims_key. (Used for read and write operations.)"
  schemas:
    $ref: './schemas.yaml'
  examples:
    $ref: './examples.yaml'
