openapi: 3.1.0
info:
  version:
    $ref: '../../package.json#/version'
  title: SpaceCat API
  description: |
    The SpaceCat API is used to manage edge delivery site directory and obtain audit information.

    ## Authentication
    <SecurityDefinitions></SecurityDefinitions>

  termsOfService: 'https://www.adobe.com/go/experiencecloudterms'
  contact:
    name: Spacecat Team
    url: 'https://github.com/adobe/spacecat-api-service'
  x-logo:
    url: 'https://solaris007.github.io/spacecat-ui/spacecat_logo_192.webp'
    altText: SpaceCat logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: 'https://spacecat.experiencecloud.live/api/ci'
    description: Development server
  - url: 'https://spacecat.experiencecloud.live/api/v1'
    description: Production server

tags:
  - name: site
    description: Site operations
  - name: audit
    description: Audit operations
  - name: auth
    description: Init authentication against 3rd party services
  - name: configuration
    description: Configuration management operations
  - name: organization
    description: Organization operations
  - name: trigger
    description: Trigger operations
  - name: hooks
    description: Webhooks for receiving events
  - name: slack
    description: Slack channel management
  - name: api-keys
    description: API key management
  - name: import
    description: APIs for importing content to Edge Delivery Services
  - name: scrape
    description: APIs for scraping web pages
  - name: consent-banner
    description: APIs for taking and retrieving webpage screenshots, specifically for consent banner analysis
  - name: llmo
    description: LLMO (Large Language Model Optimizer) operations
  - name: entitlements
    description: Entitlement management operations
  - name: site-enrollments
    description: Site enrollment management operations
  - name: trial-users
    description: Trial user management operations
  - name: user-activities
    description: User activity management operations
  - name: sandbox
    description: Sandbox audit operations
  - name: reports
    description: Report generation and management operations
  - name: project
    description: Project management operations

paths:
  /audits/latest/{auditType}:
    $ref: './audits-api.yaml#/latest-audits'
  /auth/google/{siteId}:
    $ref: './auth-api.yaml#/google-auth'
  /auth/google/{siteId}/status:
    $ref: './auth-api.yaml#/google-auth-status'
  /auth/login:
    $ref: './auth-api.yaml#/login'
  /configurations:
    $ref: './configurations-api.yaml#/configurations'
  /configurations/latest:
    $ref: './configuration-api.yaml#/latest-configuration'
  /configurations/{version}:
    $ref: './configuration-api.yaml#/configuration'
  /configurations/audits:
    $ref: './configuration-api.yaml#/configuration-audits'
  /configurations/audits/{auditType}:
    $ref: './configuration-api.yaml#/configuration-audit'
  /configurations/sites/audits:
    $ref: './configurations-sites-audits-api.yaml#/configurations-sites-audits-toggle'
  /event/fulfillment:
    $ref: './event-api.yaml#/process-fulfillment-events'
  /hooks/site-detection/cdn/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-cdn'
  /hooks/site-detection/rum/{hookSecret}:
    $ref: './hooks-api.yaml#/site-detection-rum'
  /hooks/site-integration/analytics/{hookSecret}:
    $ref: './hooks-api.yaml#/site-integration-analytics'
  /organizations:
    $ref: './organizations-api.yaml#/organizations'
  /organizations/{organizationId}:
    $ref: './organization-api.yaml#/organization'
  /organizations/{organizationId}/brands:
    $ref: './brands-api.yaml#/brands-for-organization'
  /organizations/{organizationId}/sites:
    $ref: './sites-api.yaml#/sites-for-organization'
  /organizations/{organizationId}/entitlements:
    $ref: './entitlements-api.yaml#/entitlements-by-organization'

  /organizations/{organizationId}/trial-users:
    $ref: './trial-users-api.yaml#/trial-users-by-organization'

  /organizations/{organizationId}/trial-user-invite:
    $ref: './trial-users-api.yaml#/trial-user-invite'

  /organizations/by-ims-org-id/{imsOrgId}:
    $ref: './organization-api.yaml#/organization-by-ims-org-id'
  /organizations/by-ims-org-id/{imsOrgId}/slack-config:
    $ref: './organization-api.yaml#/organization-slack-config-by-ims-org-id'
  /organizations/{organizationId}/projects:
    $ref: './organizations-api.yaml#/organization-projects'
  /organizations/{organizationId}/projects/{projectId}/sites:
    $ref: './organizations-api.yaml#/organization-project-sites'
  /organizations/{organizationId}/by-project-name/{projectName}/sites:
    $ref: './organizations-api.yaml#/organization-project-sites-by-name'
  /projects:
    $ref: './projects-api.yaml#/projects'
  /projects/{projectId}:
    $ref: './project-api.yaml#/project'
  /projects/{projectId}/sites:
    $ref: './project-api.yaml#/project-sites'
  /projects/{projectId}/sites/primary-locale:
    $ref: './project-api.yaml#/project-primary-locale-sites'
  /projects/by-project-name/{projectName}/sites:
    $ref: './project-api.yaml#/project-sites-by-name'
  /preflight/jobs:
    $ref: './preflight-api.yaml#/preflight-jobs'
  /preflight/jobs/{jobId}:
    $ref: './preflight-api.yaml#/preflight-job-status'
  /tools/scrape/jobs:
    $ref: './scrape-api.yaml#/create-scrape-job'
  /tools/scrape/jobs/{jobId}:
    $ref: './scrape-api.yaml#/get-scrape-job-status'
  /tools/scrape/jobs/{jobId}/results:
    $ref: './scrape-api.yaml#/get-scrape-job-url-results'
  /tools/scrape/jobs/by-date-range/{startDate}/{endDate}/all-jobs:
    $ref: './scrape-api.yaml#/get-scrape-jobs-by-date-range'
  /tools/scrape/jobs/by-base-url/{base64BaseUrl}:
    $ref: './scrape-api.yaml#/get-scrape-jobs-by-base-url'
  /tools/scrape/jobs/by-base-url/{base64BaseUrl}/by-processingtype/{processingType}:
    $ref: './scrape-api.yaml#/get-scrape-jobs-by-base-url-and-processing-type'
  /tools/scrape/jobs/by-url/{base64Url}/{processingType}:
    $ref: './scrape-api.yaml#/get-scrape-urls-by-url-and-processing-type'
  /consent-banner:
    $ref: './consent-banner-api.yaml#/consent-banner'
  /sites:
    $ref: './sites-api.yaml#/sites'
  /sites/resolve:
    $ref: './sites-api.yaml#/sites-resolve'
  /sites/by-delivery-type/{deliveryType}:
    $ref: './sites-api.yaml#/sites-by-delivery-type'
  /sites/by-base-url/{base64BaseUrl}:
    $ref: './site-api.yaml#/site-by-base-url'
  /sites/with-latest-audit/{auditType}:
    $ref: './sites-api.yaml#/sites-with-latest-audit'
  /sites/{siteId}/latest-metrics:
    $ref: './site-metrics-api.yaml#/site-metrics-latest'
  /sites/{siteId}:
    $ref: './site-api.yaml#/site'
  /sites/{siteId}/audits:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/audits/{auditType}:
    $ref: './audits-api.yaml#/audits-for-site-and-type'
  /sites/{siteId}/audits/{auditType}/{auditedAt}:
    $ref: './audit-api.yaml#/audit-for-site'
  /sites/{siteId}/audits/latest:
    $ref: './audits-api.yaml#/audits-for-site'
  /sites/{siteId}/latest-audit/{auditType}:
    $ref: './audit-api.yaml#/latest-audit-for-site'
  /sites/{siteId}/{auditType}:
    $ref: './audit-api.yaml#/update-handler-type-config-for-site'
  /sites/{siteId}/brand-guidelines:
    $ref: './brands-api.yaml#/brand-guidelines-by-site-id'
  /sites/{siteId}/config/cdn-logs:
    $ref: './site-api.yaml#/site-cdn-logs-config'
  /sites/{siteId}/opportunities:
    $ref: './site-opportunities.yaml#/site-opportunities'
  /sites/{siteId}/opportunities/by-status/{status}:
    $ref: './site-opportunities.yaml#/site-opportunities-by-status'
  /sites/{siteId}/opportunities/{opportunityId}:
    $ref: './site-opportunities.yaml#/site-opportunity'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/paged/{limit}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-paged'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/paged/{limit}/{cursor}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-paged-with-cursor'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/by-status/{status}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-by-status'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/by-status/{status}/paged/{limit}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-by-status-paged'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/by-status/{status}/paged/{limit}/{cursor}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-by-status-paged-with-cursor'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/{suggestionId}:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestion'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/status:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-status'
  /sites/{siteId}/opportunities/{opportunityId}/suggestions/auto-fix:
    $ref: './site-opportunities.yaml#/site-opportunity-suggestions-auto-fix'
  /sites/{siteId}/site-enrollments:
    $ref: './site-enrollments-api.yaml#/site-enrollments-by-site'
  /sites/{siteId}/user-activities:
    $ref: './user-activities-api.yaml#/paths/~1sites~1{siteId}~1user-activities'
  /sites/{siteId}/key-events:
    $ref: './key-events-api.yaml#/key-events'
  /sites/{siteId}/key-events/{keyEventId}:
    $ref: './key-event-api.yaml#/key-event'
  /sites/{siteId}/scraped-content/{type}:
    $ref: './scrape-api.yaml#/get-scraped-content-list'
  /sites/{siteId}/files:
    $ref: './scrape-api.yaml#/get-files'
  /sites/{siteId}/top-pages:
    $ref: './site-top-pages-api.yaml#/site-top-pages'
  /sites/{siteId}/top-pages/{source}:
    $ref: './site-top-pages-api.yaml#/site-top-pages-by-source'
  /sites/{siteId}/top-pages/{source}/{geo}:
    $ref: './site-top-pages-api.yaml#/site-top-pages-by-source-and-geo'
  /sites/{siteId}/traffic/paid:
    $ref: './site-paid.yaml#/site-traffic-paid-top-pages'
  /sites/{siteId}/traffic/paid/url-page-type:
    $ref: './site-paid.yaml#/site-traffic-paid-url-page-type'
  /sites/{siteId}/traffic/paid/url-page-type-platform-campaign-device:
    $ref: './site-paid.yaml#/site-traffic-paid-url-page-type-platform-campaign-device'
  /sites/{siteId}/traffic/paid/page-type-platform-campaign-device:
    $ref: './site-paid.yaml#/site-traffic-paid-page-type-platform-campaign-device'
  /sites/{siteId}/traffic/paid/campaign-url-device:
    $ref: './site-paid.yaml#/site-traffic-paid-campaign-url-device'
  /sites/{siteId}/traffic/paid/campaign-device:
    $ref: './site-paid.yaml#/site-traffic-paid-campaign-device'
  /sites/{siteId}/traffic/paid/campaign-url:
    $ref: './site-paid.yaml#/site-traffic-paid-campaign-url'
  /sites/{siteId}/traffic/paid/campaign:
    $ref: './site-paid.yaml#/site-traffic-paid-campaign'
  /sites/{siteId}/traffic/paid/type-channel:
    $ref: './site-paid.yaml#/site-traffic-paid-type-channel'
  /sites/{siteId}/traffic/paid/type-channel-campaign:
    $ref: './site-paid.yaml#/site-traffic-paid-type-channel-campaign'
  /sites/{siteId}/traffic/paid/type-campaign:
    $ref: './site-paid.yaml#/site-traffic-paid-type-campaign'
  /sites/{siteId}/traffic/paid/type:
    $ref: './site-paid.yaml#/site-traffic-paid-type'
  /sites/{siteId}/traffic/paid/pta2/weekly-summary:
    $ref: './site-paid.yaml#/site-traffic-paid-pta2-weekly-summary'
  /sites/{siteId}/metrics/{metric}/{source}:
    $ref: './site-metrics-api.yaml#/site-metrics-by-source'
  /sites/{siteId}/metrics/{metric}/{source}/by-url/{base64PageUrl}:
    $ref: './site-metrics-api.yaml#/page-metrics-by-source'
  /sites/{siteId}/experiments:
    $ref: './experiments-api.yaml#/experiments'
  /sites/{siteId}/opportunities/{opportunityId}/fixes:
    $ref: './site-opportunities.yaml#/site-opportunity-fixes'
  /sites/{siteId}/opportunities/{opportunityId}/fixes/by-status/{status}:
    $ref: './site-opportunities.yaml#/site-opportunity-fixes-by-status'
  /sites/{siteId}/opportunities/{opportunityId}/fixes/{fixId}:
    $ref: './site-opportunities.yaml#/site-opportunity-fix'
  /sites/{siteId}/opportunities/{opportunityId}/fixes/{fixId}/suggestions:
    $ref: './site-opportunities.yaml#/site-opportunity-fix-suggestions'
  /sites/{siteId}/opportunities/{opportunityId}/status:
    $ref: './site-opportunities.yaml#/site-opportunity-status'
  /slack/channels/invite-by-user-id:
    $ref: './slack-api.yaml#/invite-by-user-id'
  /trigger:
    $ref: './trigger-api.yaml#/trigger'
  /tools/api-keys:
    $ref: './tools-api.yaml#/api-keys'
  /tools/api-keys/{apiKeyId}:
    $ref: './tools-api.yaml#/api-key-deletion'
  /tools/import/jobs:
    $ref: './tools-api.yaml#/import'
  /tools/import/jobs/{jobId}:
    $ref: './tools-api.yaml#/import-job-status'
  /tools/import/jobs/{jobId}/progress:
    $ref: './tools-api.yaml#/import-job-progress'
  /tools/import/jobs/{jobId}/result:
    $ref: './tools-api.yaml#/import-job-result'
  /sites/{siteId}/llmo/sheet-data/{dataSource}:
    $ref: './llmo-api.yaml#/llmo-sheet-data'
  /sites/{siteId}/llmo/sheet-data/{sheetType}/{dataSource}:
    $ref: './llmo-api.yaml#/llmo-sheet-data-with-type'
  /sites/{siteId}/llmo/sheet-data/{sheetType}/{week}/{dataSource}:
    $ref: './llmo-api.yaml#/llmo-sheet-data-with-type-and-week'
  /sites/{siteId}/llmo/global-sheet-data/{configName}:
    $ref: './llmo-api.yaml#/llmo-global-sheet-data'
  /sites/{siteId}/llmo/config:
    $ref: './llmo-api.yaml#/llmo-config'
  /sites/{siteId}/llmo/questions:
    $ref: './llmo-api.yaml#/llmo-questions'
  /sites/{siteId}/llmo/questions/{questionKey}:
    $ref: './llmo-api.yaml#/llmo-question'
  /sites/{siteId}/llmo/customer-intent:
    $ref: './llmo-api.yaml#/llmo-customer-intent'
  /sites/{siteId}/llmo/customer-intent/{intentKey}:
    $ref: './llmo-api.yaml#/llmo-customer-intent-item'
  /sites/{siteId}/llmo/cdn-logs-filter:
    $ref: './llmo-api.yaml#/llmo-cdn-logs-filter'
  /sites/{siteId}/sandbox/audit:
    $ref: './sandbox-audit-api.yaml#/sandbox-audit'
  /sites/{siteId}/llmo/cdn-logs-bucket-config:
    $ref: './llmo-api.yaml#/llmo-cdn-logs-bucket-config'
  /llmo/onboard:
    $ref: './llmo-api.yaml#/llmo-onboard'
  /sites/{siteId}/llmo/offboard:
    $ref: './llmo-api.yaml#/llmo-offboard'
  /sites/{siteId}/reports:
    $ref: './site-api.yaml#/site-reports'
  /sites/{siteId}/reports/{reportId}:
    $ref: './site-api.yaml#/site-report'

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: 'DEPRECATED, use scoped_api_key or ims_key. (Used for read-only operations.)'
    scoped_api_key:
      type: apiKey
      in: header
      name: x-api-key
      description: 'For endpoints which authenticate with scoped API keys'
    ims_key:
      type: apiKey
      in: header
      name: authorization
      description: 'Value must be a valid IMS user token which will be offline-validated.'
    admin_key:
      type: apiKey
      in: header
      name: x-api-key
      description: 'DEPRECATED, use scoped_api_key or ims_key. (Used for read and write operations.)'
    cookie_auth:
      type: apiKey
      in: cookie
      name: sessionToken
      description: 'Authentication using session cookie'
  schemas:
    $ref: './schemas.yaml'
  examples:
    $ref: './examples.yaml'
