latest-configuration:
  get:
    tags:
      - configuration
    summary: Get the latest application configuration
    operationId: getLatestConfiguration
    security:
      - ims_key: [ ]
    responses:
      '200':
        description: The latest application configuration.
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/Configuration'
      '401':
        $ref: './responses.yaml#/401'
      '404':
        description: Latest configuration not found.
      '500':
        $ref: './responses.yaml#/500'
latest-jobs-configurations:
  get:
    tags:
      - configuration
    summary: Get the latest jobs configurations
    operationId: getLatestJobsConfigurations
    security:
      - ims_key: [ ]
    responses:
      '200':
        description: A list of all the latest known jobs configurations or empty list if no jobs configurations are present.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: './schemas.yaml#/Job'
      '401':
        $ref: './responses.yaml#/401'
      '500':
        $ref: './responses.yaml#/500'
  post:
    tags:
      - configuration
    summary: Update the latest jobs configurations
    operationId: updateLatestJobsConfigurations
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: './schemas.yaml#/Job'
    security:
      - ims_key: [ ]
    responses:
      '200':
        description: The latest jobs configurations have been successfully updated.
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/Job'
      '401':
        $ref: './responses.yaml#/401'
      '404':
        description: Latest configuration not found.
      '500':
        $ref: './responses.yaml#/500'
latest-jobs-configuration-by-type:
  parameters:
    - $ref: './parameters.yaml#/jobType'
  get:
    tags:
      - configuration
    summary: Get the latest jobs configurations by type
    description: |
      This endpoint is useful for retrieving the latest jobs configurations by type.
    operationId: getLatestJobsConfigurationsByType
    security:
      - ims_key: [ ]
    responses:
      '200':
        description: A list of all the latest known jobs configurations for specific type or empty list if no jobs configurations for specific type found.
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/Job'
      '400':
        $ref: './responses.yaml#/400-no-job-type'
      '401':
        $ref: './responses.yaml#/401'
      '404':
        $ref: './responses.yaml#/404'
      '500':
        $ref: './responses.yaml#/500'
  delete:
    tags:
      - configuration
    summary: Delete the latest jobs configurations by type
    description: |
      This endpoint is useful for deleting the latest jobs configurations by a specific type.
    operationId: deleteLatestJobsConfigurationsByType
    security:
      - ims_key: [ ]
    responses:
      '204':
        description: Latest jobs configurations for specific type deleted successfully
      '400':
        $ref: './responses.yaml#/400-no-job-type'
      '401':
        $ref: './responses.yaml#/401'
      '404':
        $ref: './responses.yaml#/404'
      '500':
        $ref: './responses.yaml#/500'
  patch:
    operationId: updateJobsConfigurationsByType
    summary: |
      Update the latest jobs configurations by type
    tags:
      - configuration
    requestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: './schemas.yaml#/Job'
    responses:
      '200':
        description: A list of job configurations updated successfully.
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/Job'
    security:
      - ims_key: [ ]
configurations:
  get:
    tags:
      - configuration
    summary: Get all application configurations
    operationId: getAllConfigurations
    security:
      - ims_key: [ ]
    responses:
      '200':
        description: A list of all known configurations or empty list if no configurations are present.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: './schemas.yaml#/Configuration'
      '401':
        $ref: './responses.yaml#/401'
      '500':
        $ref: './responses.yaml#/500'
